@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cinzel', serif;
}
body {
  background-color: #222;
  color: #fff;
}
#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-screen-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: #111;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
  border: 4px solid #fff;
  font-weight: 600;
}
